body{
    color: white;
    /* background-color:#1f2937 ; */
    font-family:'Times New Roman', Times, serif ;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
header{
    /* display: flex; */
    /* border: 2px solid ; */
    background-color: #1f2937;
    padding: 8px;
    margin: 0;
}
.line-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    /* border: 2px solid; */
}
/* .logo, */
/* .about{ */
    /* display: flex; */
    /* border: 2px solid blue; */
/* } */
.about ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
    /* border: 2px solid blue; */
    padding-right: 10px;
    margin-left: 10px;
    /* font-size: 18px; */
}
.logo{
    padding: 8px;
    margin-right: 10px;
}
header a{
    text-decoration: none;
    color: white;
}
header img{
    height: 50px;
    width: 150px;
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 223, 223);
    border-radius: 30px;
    margin: 1px;
    padding: 50px;
    color: #1f2937;
    /* border: 2px solid blue; */
    text-align: center;
}
/* .message-1, */
/* .message-2{ */
    /* border: 2px solid blue; */
/* } */
.quotes{
    color: #ffff;
    border: 2px solid red;
    text-align: center;
    padding: 20px 50px;
    background-color: #1f2937;
    border-radius: 8px;
}
blockquote h3{
    font-size: 30px;
    /* font-family: ; */
}
#contact{
    border: 2px solid green;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}
.socials{
    display: flex;
    /* justify-content: space-evenly; */
    border: 1px solid gray;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
a{
    text-decoration: none;
}
.location{
    font-size: 15px;
   border: 1px solid gray; 
   color: #1f2937;
   display: flex;
   flex-direction: column;
   padding: 0 10px;
}
h4,
p{
    /* border: 1px solid gray;  */
}
#contact h4 {
  border: 1px solid gray;  
}



































footer{
    text-align: center;
    background-color: #1f2937;
}
footer p{
    padding: 20px;
    color: wheat;
}