:root{
   --primary-bg: #1f2937;
  --light-bg: rgb(235, 223, 223);
  --dark-text: #1f2937;
  --light-text: #ffffff;
  --accent-text: wheat; 
}
html {
  scroll-behavior: smooth;
}body{
    color: var(--light-text);
    /* background-color:#1f2937 ; */
    font-family:'Times New Roman', Times, serif ;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
header{
    /* display: flex; */
    /* border: 2px solid ; */
    background-color: var(--primary-bg);
    padding: 8px;
    margin: 0;
}
.line-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    /* border: 2px solid; */
}
/* .logo, */
/* .about{ */
    /* display: flex; */
    /* border: 2px solid blue; */
/* } */
.about ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
    /* border: 2px solid blue; */
    padding-right: 10px;
    margin-left: 10px;
    /* font-size: 18px; */
}
.logo{
    padding: 8px;
    margin-right: 10px;
}
header a{
    text-decoration: none;
    color: white;
}
header img{
    height: 50px;
    width: 150px;
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-bg);
    border-radius: 30px;
    margin: 4px;
    padding: 50px;
    color: var(--dark-text);
    border: 2px solid blue;
    text-align: center;
}
.message-1,
.message-2,
.about-church,
.mission{
    border: 2px solid blue;
}
#loc{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px ;
    margin: auto;
    /* border: 2px solid blue; */
}
.location,
.Time{
    color: var(--light-text);
    padding: 10px 30px;
    /* margin-top: 45px; */
    background-color: var(--primary-bg);
    border-radius: 30px;
}
.about-church{
    color: #1f2937;
    text-align: center;
    padding: 40px 20px;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}
.about-church p{
    max-width: 700px;
    margin: auto;
}
.mission{
    color: var(--dark-text);
    text-align: center;
    padding: 0 20px;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}
.quotes{
    color: var(--light-text);
    border: 2px solid red;
    text-align: center;
    padding: 10px 50px;
    background-color: var(--primary-bg);
    border-radius: 8px;
    display: flex;
    align-items: center;
}
blockquote h3{
    font-size: 30px;
    /* font-family: ; */
}
.pastor{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 900px;
    margin: auto;
    padding: 60px 20px;
    background-color: #ffffff;
    border: 2px solid blue;
}
.pastor img{
    height: 400px;
    width: 360px;
    object-fit: cover;
    padding: 0 20px;
    border-radius: 0px 100px 0 100px;
}
.pastor-text{
    flex: 1;
    color: var(--dark-text);
}
#contact{
    border: 2px solid green;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}
.socials{
    display: flex;
    /* justify-content: space-evenly; */
    /* border: 1px solid gray; */
    align-items: center;
    gap: 15px;
    /* padding: 0 10px; */
}
#contact button{
    padding: 5px 10px;
    border-radius: 8px;
    background: var(--primary-bg);
    border: none;
    color: var(--accent-text);
}
a{
    text-decoration: none;
    color: var(--accent-text);
}

/* .location p, */
/* .location h4{ */
    /* border: 1px solid gray;  */
/* } */

footer{
    text-align: center;
    background-color: var(--primary-bg);
}
footer p{
    padding: 20px;
    color: var(--accent-text);
}
@media (max-width: 768px) {
  .pastor {
    flex-direction: column;
    text-align: center;
  }

  .pastor-text {
    margin-top: 5px;
  }

  .pastor img {
    width: 360px;
    height: 400px;
  }
}